@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin: 10px;
  background-image: url('https://source.unsplash.com/1600x900/?kyoto');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  justify-content: center;
}

#temppp{
  display: flex;
  align-items: center;
  gap: 8px;
}

#input {
  display: flex;
  align-items: center;
  gap: 8px;
}

#input button {
  margin-top: 0;
}

#main{
  width: 800px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
